<footer class="footer-section">
  <!-- Rooms Pic Section Begin-->
  
  <!-- Rooms Pic Section End -->
  <div class="container">
    <div class="row p-37">
      <div class="col-lg-4">
        <div class="about-footer"></div>
      </div>
      <div class="col-lg-4 col-md-6"></div>
      <div class="col-lg-4 col-md-6">
        <div class="footer-address">
       
          <ul>
            <li style="color:#fff">
              <i class="flaticon-placeholder"></i><span>Abidjan yopougon</span>
              <span>Sikensi</span>
            </li>
            <li>
              <i class="flaticon-envelope"></i
              ><span>penielesthere@gmail.com</span>
            </li>
            <li>
              <i class="flaticon-smartphone"></i><span>09-26-11-43</span>
              <span>05-93-73-00</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row p-20">
      <div class="col-lg-12 text-center">
        
          <span>
            <a href="/">
              <img src="/img/log.png" width="40" alt="" />
            </a>
            </span>
          <span style="font-size:0.8em ;color: whitesmoke;">
           Lauvin-immobilier est une filiale du groupe Lauvin-Services .
          </span>
        </div>
      </div>
      <div class="col-lg-12 text-center">
        <div class="copyright">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved | This template is made with
          <i class="fa fa-heart-o" aria-hidden="true"></i> by
          <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
      </div>
    </div>
  </div>
</footer>
