<header class="header-section">
  <div class="header-contact">
    <div class="row">
      <span
        style="
          color: silver;
          font-size: 0.8em;
          display: flex;
          justify-content: center;
        "
        class="align-center col-12 col-md-4"
      >
        <i
          style="color: rgba(90, 197, 240, 0.541);"
          class="flaticon-placeholder"
        >
        </i
        >&nbsp; Abidjan yopougon , Sikensi</span
      >
      <span
        style="
          color: silver;
          font-size: 0.8em;
          display: flex;
          justify-content: center;
        "
        class="align-center col-12 col-md-4"
      >
        <i style="color: rgba(90, 197, 240, 0.541);" class="flaticon-envelope">
        </i
        >&nbsp; penielesthere@gmail.com
      </span>
      <span
        style="
          color: silver;
          font-size: 0.8em;
          display: flex;
          justify-content: center;
        "
        class="align-center col-12 col-md-4"
      >
        <i
          style="color: rgba(90, 197, 240, 0.541);"
          class="flaticon-smartphone"
        >
        </i>
        &nbsp; 09-26-11-43 / 05-93-73-00</span
      >
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="logo">
          <a href="/">
            <img src="/img/log.png" width="50" alt="" class="rounded" />
          </a>
          <span class="logoname">Lauvin Immobilier</span>
        </div>
        <ul class="main-menu">
          <li>
            <div class="dropdown">
              <a href="#">Agence Immobilière</a>
              <div class="dropdown-content">
                <p>Location</p>
                <p>
                  Vente
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <a href="/">Aménagement</a>
              <div class="dropdown-content">
                <p>Aménagement foncier</p>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <a href="/">Batiment</a>
              <div class="dropdown-content">
                <p>Construction</p>
                <p>Plomberie</p>
                <p>Peinture</p>
                <p>Electricité</p>
                <p>Menuiserie</p>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <a href="/">Traveaux Publiques</a>
              <div class="dropdown-content">
                <p>Voirie</p>
                <p>Topographie</p>
                <p>Bornage</p>
                <p>Assainissement</p>
              </div>
            </div>
          </li>
          <li><a href="./contact.html">Contact</a></li>
          <li class="top-social">
            <a href="https://facebook.com/Lauvin-service-106886710995894"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
        </ul>
        <div id="mobile-menu-wrap"></div>
      </div>
    </div>
  </div>
</header>
