body{
  height: 100vh;
  padding: 0;
  margin: 0;
}
.row{
  height: 100%;
}
.main{
	height: 100%;
}
#emmitter_v{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1000;
}
#start{
	position: absolute;
	bottom: 5%;
	right: 50%;
	z-index: 1000;
	width: 70px;
	height: 70px;
	border-radius: 100px;
}
#receive{
	position: relative;
	z-index: 10000;
	width: 90px;
	height: 90px;
	border-radius: 100px;
	transform: translate(0,350px);
	animation: anim 2s ease-in-out infinite both;
}
#close{
	position: absolute;
	bottom: 5%;
	right: 50%;
	z-index: 1000;
	width: 70px;
	height: 70px;
	border-radius: 100px;
}
.none{
	display: none;
}
.callAlert{
	z-index:1000;
	height: 100%;
	background: black;
	opacity: 0.6;
	color: white;
	text-align: center;
}
.callAlert h5{
	text-transform: uppercase;
	transform: translate(0,300px);
}
@keyframes anim{

	0%{
		border: none;
	}
	10%{
		border: 1px solid white;
	}
	20%{
		border: 2px solid white;
	}
	30%{
		border: 4px solid white;
	}
	40%{ 
		border:6px solid white;
	 }
	 50%{ 
		border:8px solid white;
	 }
	 60%{ 
		border:6px solid white;
	 }
	 70%{ 
		border:4px solid white;
	 }
	 80%{ 
		border:2px solid white;
	 }
	 90%{ 
		border:1px solid white;
	 }
	 100%{ 
		border:none;
	 }
}